<footer class="footer">
  <div class="footer-container">
    <span class="footer-image">
      <img src="https://assets.openshift.com/hubfs/images/logos/Logo-RedHat-A-Reverse-RGB.svg" class="img-fluid" alt="Red Hat" style="height: 30px;">
    </span>
    <span class="footer-text">
      Copyright © 2021 Red Hat, Inc.
    </span>
</footer>
